body {
    background-color: #232323;
}

header, main, footer {
    background-color: pink;
    width: 70%;
    margin: auto;
}

h1 {
    color: black;
    font-family: 'Rye';
    letter-spacing: 0.2em;

}

input {
    width: 200px;
}

.letters {
    border: 2px solid navy;
    height: 50px;
    width: 50px;
    float: left;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

#ltrs {
    width: 90%;
    height: 50px;
    margin: auto 0;
    align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}